@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css';
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

.navbar {
	background-image: url(./images/mobile/image-header_1.jpg);
}

.navbar-end a {
	color: whitesmoke;
	border-radius: 20px;
	margin-left: 20px;
	font-family: 'Barlow', sans-serif;
	font-weight: 900;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
	color: black;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-end {
	margin-right: 50px;
}

.creatives-image {
	background-image: url(./images/desktop/image-header.jpg);
	height: 700px;
	width: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar-brand a {
	color: white;
}

.navbar-item span {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 900;
}

h1 {
	font-size: 55px;
	text-align: center;
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-transform: uppercase;
	margin-top: 100px;
}

.arrow-image {
	height: 120px;
	left: 620px;
	top: 80px;
	position: relative;
}

.transform header {
	color: black;
	text-align: left;
	font-size: 40px;
	margin-bottom: 15px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.learn {
	text-align: left;
	margin-top: 20px;
	font-weight: 900;
	text-transform: uppercase;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.transform {
	padding: 20px;
	background-color: #fffdd0;
	width: 640px;
	height: 400px;
	padding: 95px;
}

.transform p {
	text-align: justify;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.egg-image {
	background-image: url(./images/desktop/image-transform.jpg);
	height: 400px;
	width: 640px;
	background-repeat: no-repeat;
	background-position: center;
}

.egg-transform {
	display: flex;
	flex-flow: row-reverse wrap;
}

.standout-image {
	background-image: url(./images/desktop/image-stand-out.jpg);
	height: 400px;
	width: 640px;
	background-repeat: no-repeat;
	background-position: center;
}

.standout header {
	color: black;
	text-align: left;
	font-size: 40px;
	margin-bottom: 15px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.standout {
	padding: 20px;
	background-color: #fffdd0;
	width: 640px;
	height: 400px;
	padding: 95px;
}

.standout p {
	text-align: justify;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.standoutAll {
	display: flex;
	flex-flow: row wrap;
}

.graphic-image {
	background-image: url(./images/desktop/image-graphic-design.jpg);
	height: 600px;
	width: 640px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 30px;
}

.graphic-image header {
	text-align: center;
	font-size: 40px;
	margin-bottom: 15px;
	position: relative;
	top: 345px;
	font-family: 'Fraunces', serif;
}

.graphic-image p {
	text-align: center;
	font-size: 12px;
	font-weight: 900;
	margin-bottom: 15px;
	position: relative;
	top: 350px;
	font-family: 'Fraunces', serif;
	padding: 0 120px;
}

.photography-image {
	background-image: url(./images/desktop/image-photography.jpg);
	height: 600px;
	width: 640px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 30px;
}

.photography-image header {
	text-align: center;
	font-size: 40px;
	margin-bottom: 15px;
	position: relative;
	top: 345px;
	font-family: 'Fraunces', serif;
}

.photography-image p {
	text-align: center;
	font-size: 12px;
	font-weight: 900;
	margin-bottom: 15px;
	position: relative;
	top: 350px;
	font-family: 'Fraunces', serif;
	padding: 0 120px;
}

.graphicPhoto {
	display: flex;
	flex-flow: row wrap;
}

.all-testimonial {
	padding: 30px;
	background-color: #fffdd0;
	height: 80vh;
	padding-top: 100px;
}

.container {
	display: flex;
}

.testimonial header {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 900;
	color: grey;
	margin-top: 30px;
	margin-bottom: 50px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.emilyAll {
	margin-right: 20px;
	padding: 0 40px;
}

.emily-image {
	border-radius: 80px;
	height: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.emily-header {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 12px;
	font-weight: bold;
}

.emily p {
	text-align: center;
	margin-bottom: 30px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.thomasAll {
	/* margin-right: 10px; */
	padding: 0 40px;
}

.thomas-image {
	border-radius: 80px;
	height: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.thomas-header {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
	font-size: 12px;
	font-weight: bold;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.thomas p {
	text-align: center;
	margin-bottom: 30px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.jennieAll {
	/* margin-right: 20px; */
	padding: 0 40px;
}

.jennie-image {
	border-radius: 80px;
	height: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.jennie-header {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
	font-size: 12px;
	font-weight: bold;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.jennie p {
	text-align: center;
	margin-bottom: 30px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
	text-align: center;
	font-weight: 900;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.images {
	display: flex;
	flex-flow: row wrap;
}

.milkbottle-image {
	width: 25vw;
}

.orange-image {
	width: 25vw;
}

.cone-image {
	width: 25vw;
}

.sugar-image {
	width: 25vw;
}

.sunnybelow-info {
	background-color: rgb(182, 250, 220);
	height: 400px;
}

.sunnybelow {
	text-align: center;
	padding-top: 45px;
	margin-bottom: 30px;
	font-size: 40px;
	font-family: 'Barlow', sans-serif;
	font-weight: 900;
}

.sunnyside-info {
	text-align: center;
}

span.about,
.services,
.projects {
	margin-right: 35px;
	font-family: 'Barlow', sans-serif;
}

span.about,
.services,
.projects,
.contact {
	font-family: 'Barlow', sans-serif;
	font-weight: 900;
}

.logos {
	margin-top: 100px;
	text-align: center;
}

img.facebook-logo,
.instagram-logo,
.twitter-logo {
	margin-right: 35px;
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 80px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1440px) {
	.navbar {
		background-image: url(./images/mobile/image-header_1.jpg);
	}

	.navbar-end a {
		color: whitesmoke;
		border-radius: 20px;
		margin-left: 20px;
		font-family: 'Barlow', sans-serif;
		font-weight: 900;
	}

	.navbar-link.is-active,
	.navbar-link:focus,
	.navbar-link:focus-within,
	.navbar-link:hover,
	a.navbar-item.is-active,
	a.navbar-item:focus,
	a.navbar-item:focus-within,
	a.navbar-item:hover {
		color: black;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.navbar-end {
		margin-right: 50px;
	}

	.creatives-image {
		background-image: url(./images/desktop/image-header.jpg);
		height: 90vh;
		display: block;
		width: auto;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center bottom;
	}

	.navbar-brand a {
		color: white;
	}

	.navbar-item span {
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-weight: 900;
	}

	h1 {
		font-size: 55px;
		text-align: center;
		color: white;
		font-family: 'Fraunces', serif;
		text-transform: uppercase;
		margin-top: 60px;
	}

	.arrow-image {
		height: 140px;
		left: 700px;
		top: 165px;
		position: relative;
	}

	.transform header {
		color: black;
		text-align: left;
		font-size: 40px;
		margin-bottom: 15px;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.learn {
		text-align: left;
		margin-top: 20px;
		font-weight: 900;
		text-transform: uppercase;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.transform {
		background-color: white;
		width: 720px;
		height: 70vh;
		padding-top: 180px;
	}

	.transform p {
		text-align: justify;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.egg-image {
		background-image: url(./images/desktop/image-transform.jpg);
		height: 70vh;
		width: 720px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.egg-transform {
		display: flex;
		flex-flow: row-reverse wrap;
	}

	.standout-image {
		background-image: url(./images/desktop/image-stand-out.jpg);
		height: 70vh;
		width: 720px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.standout header {
		color: black;
		text-align: left;
		font-size: 40px;
		margin-bottom: 15px;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.standout {
		padding: 90px;
		background-color: white;
		width: 720px;
		height: 70vh;
		padding-top: 180px;
	}

	.standout p {
		text-align: justify;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.standoutAll {
		display: flex;
		flex-flow: row wrap;
	}

	.graphic-image {
		background-image: url(./images/desktop/image-graphic-design.jpg);
		height: 600px;
		width: 50%;
		background-repeat: no-repeat;
		background-position: center;
		padding: 30px;
	}

	.graphic-image header {
		text-align: center;
		font-size: 40px;
		margin-bottom: 15px;
		position: relative;
		top: 345px;
		font-family: 'Fraunces', serif;
	}

	.graphic-image p {
		text-align: center;
		font-size: 12px;
		font-weight: 900;
		margin-bottom: 15px;
		position: relative;
		top: 350px;
		font-family: 'Fraunces', serif;
		padding: 0 120px;
	}

	.photography-image {
		background-image: url(./images/desktop/image-photography.jpg);
		height: 600px;
		width: 50%;
		background-repeat: no-repeat;
		background-position: center;
		padding: 30px;
	}

	.photography-image header {
		text-align: center;
		font-size: 40px;
		margin-bottom: 15px;
		position: relative;
		top: 345px;
		font-family: 'Fraunces', serif;
	}

	.photography-image p {
		text-align: center;
		font-size: 12px;
		font-weight: 900;
		margin-bottom: 15px;
		position: relative;
		top: 350px;
		font-family: 'Fraunces', serif;
		padding: 0 120px;
	}

	.graphicPhoto {
		display: flex;
		flex-flow: row wrap;
	}

	.all-testimonial {
		padding: 30px;
		background-color: white;
		height: 80vh;
		padding-top: 50px;
	}

	.container {
		display: flex;
	}

	.testimonial header {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 900;
		color: grey;
		margin-top: 100px;
		margin-bottom: 100px;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.emilyAll {
		margin-right: 20px;
		padding: 0 40px;
	}

	.emily-image {
		border-radius: 80px;
		height: 80px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}

	.emily-header {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 50px;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-size: 12px;
	}

	.emily p {
		text-align: center;
		margin-bottom: 50px;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.thomasAll {
		/* margin-right: 10px; */
		padding: 0 40px;
	}

	.thomas-image {
		border-radius: 80px;
		height: 80px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}

	.thomas-header {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 50px;
		font-size: 12px;
		font-weight: bold;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.thomas p {
		text-align: center;
		margin-bottom: 50px;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.jennieAll {
		/* margin-right: 20px; */
		padding: 0 40px;
	}

	.jennie-image {
		border-radius: 80px;
		height: 80px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}

	.jennie-header {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 50px;
		font-size: 12px;
		font-weight: bold;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.jennie p {
		text-align: center;
		margin-bottom: 50px;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	h3 {
		text-align: center;
		font-weight: 900;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.images {
		display: flex;
		flex-flow: row wrap;
	}

	.milkbottle-image {
		height: 50vh;
		width: 25%;
	}
	.orange-image {
		height: 50vh;
		width: 25%;
	}
	.cone-image {
		height: 50vh;
		width: 25%;
	}
	.sugar-image {
		height: 50vh;
		width: 25%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.attribution {
		font-size: 11px;
		text-align: center;
		margin-top: 80px;
	}
	.attribution a {
		color: hsl(228, 45%, 44%);
	}

	.creatives-image {
		background-image: url(./images/mobile/image-header_1.jpg);
		height: 500px;
		width: auto;
		background-repeat: no-repeat;
		background-position: center;
	}

	.navbar-brand a {
		color: white;
	}

	.navbar-item span {
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	h1 {
		font-size: 50px;
		text-align: center;
		color: white;
		font-family: Georgia, 'Times New Roman', Times, serif;
		text-transform: uppercase;
		margin-top: 30px;
	}

	.arrow-image {
		height: 100px;
		left: 170px;
		top: 45px;
		position: relative;
	}

	.egg-transform {
		display: flex;
		flex-flow: row wrap;
	}

	.egg-image {
		background-image: url(./images/mobile/image-transform.jpg);
		height: 300px;
		width: 1000px;
		background-repeat: no-repeat;
	}

	.transform header {
		color: black;
		text-align: center;
		font-size: 40px;
		margin-bottom: 15px;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.learn {
		text-align: center;
		margin-top: 20px;
		font-weight: 900;
		text-transform: uppercase;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.transform {
		padding: 20px;
		background-color: #fffdd0;
	}

	.transform p {
		text-align: center;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.standoutAll {
		display: flex;
		flex-flow: row wrap;
	}

	.standout-image {
		background-image: url(./images/mobile/image-stand-out_1.jpg);
		height: 300px;
		width: 1000px;
		background-repeat: no-repeat;
	}

	.standout header {
		color: black;
		text-align: center;
		font-size: 40px;
		margin-bottom: 15px;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.standout {
		padding: 20px;
		background-color: #fffdd0;
	}

	.standout p {
		text-align: center;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.graphicPhoto {
		display: flex;
		flex-flow: row wrap;
	}

	.graphic-image {
		background-image: url(./images/mobile/image-graphic-design_1.jpg);
		height: 540px;
		width: auto;
		background-repeat: no-repeat;
		background-position: center;
		padding: 30px;
	}

	.graphic-image header {
		text-align: center;
		font-size: 40px;
		margin-bottom: 15px;
		position: relative;
		top: 345px;
		font-family: 'Fraunces', serif;
	}

	.graphic-image p {
		text-align: center;
		font-size: 12px;
		font-weight: 900;
		margin-bottom: 15px;
		position: relative;
		top: 350px;
		font-family: 'Fraunces', serif;
		padding: 0 10px;
	}

	.photography-image {
		background-image: url(./images/mobile/image-photography_1.jpg);
		height: 600px;
		width: auto;
		background-repeat: no-repeat;
		background-position: center;
		padding: 30px;
	}

	.photography-image header {
		text-align: center;
		font-size: 40px;
		margin-bottom: 15px;
		position: relative;
		top: 345px;
		font-family: 'Fraunces', serif;
	}

	.photography-image p {
		text-align: center;
		font-size: 12px;
		font-weight: 900;
		margin-bottom: 15px;
		position: relative;
		top: 350px;
		font-family: 'Fraunces', serif;
		padding: 0 10px;
	}

	.all-testimonial {
		padding-top: 100px;
		padding: 30px;
		background-color: #fffdd0;
		height: 160vh;
	}

	.container {
		display: flex;
		flex-flow: row wrap;
	}

	.testimonial header {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 900;
		color: grey;
		margin-top: 30px;
		margin-bottom: 20px;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.emilyAll {
		margin-right: 0px;
		padding: 0 0px;
	}

	.emily-image {
		border-radius: 80px;
		height: 80px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}

	.emily-header {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 50px;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-size: 12px;
		font-weight: bold;
	}

	.emily p {
		text-align: center;
		margin-bottom: 30px;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.thomasAll {
		margin-right: 0px;
		padding: 0 0px;
	}

	.thomas-image {
		border-radius: 80px;
		height: 80px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}

	.thomas-header {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 50px;
		font-size: 12px;
		font-weight: bold;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.thomas p {
		text-align: center;
		margin-bottom: 30px;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.jennieAll {
		margin-right: 0px;
		padding: 0 0px;
	}

	.jennie-image {
		border-radius: 80px;
		height: 80px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}

	.jennie-header {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 50px;
		font-size: 12px;
		font-weight: bold;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.jennie p {
		text-align: center;
		margin-bottom: 30px;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	h3 {
		text-align: center;
		font-weight: 900;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	.images {
		display: flex;
		flex-flow: row wrap;
	}

	.milkbottle-image {
		width: 50vw;
	}
	.orange-image {
		width: 50vw;
	}
	.cone-image {
		width: 50vw;
	}
	.sugar-image {
		width: 50vw;
	}

	.sunnybelow-info {
		background-color: rgb(182, 250, 220);
		height: 400px;
	}

	.sunnybelow {
		text-align: center;
		padding-top: 45px;
		margin-bottom: 30px;
		font-size: 40px;
		font-family: 'Barlow', sans-serif;
		font-weight: 900;
	}

	.sunnyside-info {
		text-align: center;
	}

	span.about,
	.services,
	.projects {
		margin-right: 35px;
		font-family: 'Barlow', sans-serif;
	}

	span.about,
	.services,
	.projects,
	.contact {
		font-family: 'Barlow', sans-serif;
		font-weight: 900;
	}

	.logos {
		margin-top: 100px;
		text-align: center;
	}

	img.facebook-logo,
	.instagram-logo,
	.twitter-logo {
		margin-right: 35px;
	}
}
