<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="./images/favicon-32x32.png"
		/>

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
		/>
		<link rel="stylesheet" href="style.css" />

		<title>Frontend Mentor | Sunnyside agency landing page</title>
	</head>
	<body>
		<!-- <script src="app.js"></script> -->
		<section class="createClass">
			<div class="creatives-image">
				<nav role="navigation" aria-label="main navigation">
					<div class="navbar-brand">
						<a class="navbar-item" href="https://bulma.io"
							><span>sunnyside</span>
						</a>

						<a
							role="button"
							class="navbar-burger"
							aria-label="menu"
							aria-expanded="false"
						>
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
						</a>
					</div>
					<div id="navbarSunnySide" class="navbar-menu">
						<div class="navbar-start">
							<a class="navbar-item"> About </a>
							<a class="navbar-item"> Services </a>
							<a class="navbar-item"> Projects </a>
							<a class="navbar-item"> Contact </a>
						</div>
					</div>
				</nav>
				<div>
					<h1>We are creatives</h1>
				</div>
				<img class="arrow-image" src="/images/icon-arrow-down.svg" />
			</div>
		</section>
		<section>
			<div class="egg-image"></div>
		</section>
		<section>
			<div class="transform">
				<header>Transform your brand</header>
				<p>
					We are a full-service creative agency specializing in
					helping brands grow fast. Engage your clients through
					compelling visuals that do most of the marketing for you.
				</p>
				<div class="learn">Learn more</div>
			</div>
		</section>
		<section>
			<div class="standout-image"></div>
		</section>
		<section>
			<div class="standout">
				<header>Stand out to the right audience</header>
				<p>
					Using a collaborative formula of designers, researchers,
					photographers, videographers, and copywriters, we’ll build
					and extend your brand in digital places.
				</p>
				<div class="learn">Learn more</div>
			</div>
		</section>
		<section class="graphicClass">
			<div class="graphic-image">
				<header>Graphic design</header>
				<p>
					Great design makes you memorable. We deliver artwork that
					underscores your brand message and captures potential
					clients’ attention.
				</p>
			</div>
		</section>
		<section class="photographyClass">
			<div class="photography-image">
				<header>Photography</header>
				<p>
					Increase your credibility by getting the most stunning,
					high-quality photos that improve your business image.
				</p>
			</div>
		</section>
		<section class="all-testimonial">
			<div class="testimonial">
				<header>Client testimonials</header>
			</div>
			<img class="emily-image" src="/images/image-emily.jpg" />
			<div class="emily">
				<p>
					We put our trust in Sunnyside and they delivered, making
					sure our needs were met and deadlines were always hit.
				</p>
				<h3>Emily R.</h3>
				<header class="emily-header">Marketing Director</header>
			</div>

			<img class="thomas-image" src="/images/image-thomas.jpg" />
			<div class="thomas">
				<p>
					Sunnyside’s enthusiasm coupled with their keen interest in
					our brand’s success made it a satisfying and enjoyable
					experience.
				</p>
				<h3>Thomas S.</h3>
				<header class="thomas-header">Chief Operating Officer</header>
			</div>

			<img class="jennie-image" src="/images/image-jennie.jpg" />
			<div class="jennie">
				<p>
					Incredible end result! Our sales increased over 400% when we
					worked with Sunnyside. Highly recommended!
				</p>
				<h3>Jennie F.</h3>
				<header class="jennie-header">Business Owner</header>
			</div>
		</section>

		About Services Projects Contact

		<div class="attribution">
			Challenge by
			<a
				href="https://www.frontendmentor.io?ref=challenge"
				target="_blank"
				>Frontend Mentor</a
			>. Coded by <a href="#">Your Name Here</a>.
		</div>
	</body>
</html>
